.home-bicycles-list {
  padding-top: 60px;
  padding-bottom: 120px;
}

.home-bicycles-list span {
  color: var(--color-p10);
}

.home-bicycles-list ul {
  display: flex;
  gap: 40px;
  padding: 0 20px 20px;
  max-width: 1400px;
  margin: 0 auto;
  overflow-x: auto;
}

.home-bicycles-list  ul li {
  min-width: 280px;
}

.home-bicycles-list  ul li span{
  color: var(--color-08);
  padding-left: 20px;

}

.home-bicycles-list ul li a {
  display: block;
}

.home-bicycles-list ul li img {
  margin-bottom: 16px;
}

.home-bicycles-list ul li h3 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.home-bicycles-list ul li h3::before {
  content: "";
  width: 12px;
  height: 8px;
  margin-right: 8px;
  display: inline-block;
  background-color: var(--color-p10);
}

.home-bicycles-list ul li a:hover h3::before {
  width: 24px;
  transition: 0.5s;
}

@media (max-width: 800px) {
  .home-bicycles-list {
    padding-bottom: 60px;
  }
  .home-bicycles-list ul {
    gap: 20px;
  }
}