/* INTRODUCTION */
.introduction-bg {
  background-color: var(--color-12);
  box-shadow: inset 0 -120px var(--color-00);
}

.introduction {
  display: grid;
  gap: 0px 40px;
  grid-template-columns: 1fr 1fr;
}

.introduction h1 {
  color: var(--color-00);
  margin-bottom: 32px;
}

.introduction h1 span {
  color: var(--color-p10);
}

.introduction p {
  margin-bottom: 20px;
  color: var(--color-05);
}

.introduction img {
  object-fit: cover;
  height: 100%;
}

.introduction-content {
  align-self: end;
  padding-bottom: 200px;
}

/* INTRODUCTION - RESPONSIVENESS */
@media (max-width: 800px) {
  .introduction-bg {
    background-color: var(--color-11);
    padding-top: 40px;
    box-shadow: inset 0 -60px var(--color-00);
  }

  .introduction {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .introduction h1 {
    margin-bottom: 16px;
  }

  .introduction-content {
    padding-bottom: 0px;
  }

  .introduction img {
    height: 300px;
    width: 100%;
  }
}