/* INTRODUCTION */
.home-introduction-bg {
  background-color: var(--color-12);
  box-shadow: inset 0 -120px var(--color-00);
}

.home-introduction {
  display: grid;
  gap: 0 40px;
  grid-template-columns: 1fr 1fr;
}

.home-introduction h1 {
  color: var(--color-00);
  margin-bottom: 32px;
}

.home-introduction h1 span {
  color: var(--color-p10);
}

.home-introduction p {
  margin-bottom: 20px;
  color: var(--color-05);
}

.home-introduction img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.home-introduction-content {
  align-self: end;
  padding-bottom: 200px;
}

/* INTRODUCTION - RESPONSIVENESS */
@media (max-width: 800px) {
  .home-introduction-bg {
    background-color: var(--color-11);
    padding-top: 40px;
    box-shadow: inset 0 -60px var(--color-00);
  }

  .home-introduction {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .home-introduction h1 {
    margin-bottom: 16px;
  }

  .home-introduction-content {
    padding-bottom: 0;
  }

  .home-introduction img {
    height: 300px;
    width: 100%;
  }
}