
:root {
  --color-12: #000000;
  --color-11: #111111;
  --color-10: #2E2E2E;
  --color-09: #404040;
  --color-08: #595959;
  --color-07: #717171;
  --color-06: #9C9C9C;
  --color-05: #B2B2B2;
  --color-04: #CCCCCC;
  --color-03: #DEDEDE;
  --color-02: #EDEDED;
  --color-01: #F7F7F7;
  --color-00: #FFFFFF;
  --color-p1: #332200;
  --color-p2: #664400;
  --color-p3: #A66F00;
  --color-p4: #E59317;
  --color-p5: #E4A30B;
  --color-p7: #F2A50C;
  --color-p8: #FFBF00;
  --color-p9: #FFB60D;
  --color-p10: #FFBB00;
}

.color-00 {
  color: var(--color-00);
}
.color-01 {
  color: var(--color-01);
}
.color-02 {
  color: var(--color-02);
}
.color-03 {
  color: var(--color-03);
}
.color-04 {
  color: var(--color-04);
}
.color-05 {
  color: var(--color-05);
}
.color-06 {
  color: var(--color-06);
}
.color-07 {
  color: var(--color-07);
}
.color-08 {
  color: var(--color-08);
}
.color-09 {
  color: var(--color-09);
}
.color-10 {
  color: var(--color-10);
}
.color-11 {
  color: var(--color-11);
}
.color-12 {
  color: var(--color-12);
}
.color-p1 {
  color: var(--color-p1);
}
.color-p2 {
  color: var(--color-p2);
}
.color-p3 {
  color: var(--color-p3);
}
.color-p4 {
  color: var(--color-p4);
}
.color-p5 {
  color: var(--color-p5);
}
